.container
  .row.justify-content-lg-between(class='home-banner')
      .col-lg-6.col-md-6.col-sm-12.col-xs-12(class='home-banner__left')
        div(data-aos="fade-down", data-aos-duration="800")
          +img('../images/solution.svg', 'solution')(loading="eager")
          span.heading__primary.heading--white
            | Giải pháp công nghệ 
            b toàn diện, chính xác và chuyên sâu 
            | hỗ trợ dịch vụ tài chính cá nhân
        p.text__large.text--white(data-aos="fade-right", data-aos-duration="800") APPVEST - Tiên phong trong lĩnh vực tài chính số hóa tại Việt Nam
        button.btn.home-banner__left__btn(data-aos="fade-left", data-aos-duration="800") Dùng thử miễn phí
        .trending-up( data-aos-delay="200", data-aos="zoom-out")
          .text__small.text--white Số lượt tra cứu:
          span 34,729,176
          +img('../images/trending-up.svg', 'trending-up')(loading="eager")
      .col-lg-5.col-md-6.col-sm-12.col-xs-12
        .home-banner__right
          +img('../images/illutration1/mobile.svg')(class="home-banner__right--mobile")(data-aos-duration="400", data-aos="zoom-in" , data-aos-easing="ease")
          +img('../images/illutration1/user.svg')(class="home-banner__right--user")(data-aos-delay="200", data-aos="fade-down", data-aos-easing="ease")
          +img('../images/illutration1/user-shadow.svg')(class="home-banner__right--user-shadow")(data-aos-delay="200", data-aos="zoom-in", data-aos-easing="linear")
          +img('../images/illutration1/around.svg')(class="home-banner__right--around")(data-aos-delay="300", data-aos="zoom-in" , data-aos-easing="linear")
          +img('../images/illutration1/around-items.svg')(class="home-banner__right--around-items")(data-aos-delay="300", data-aos="zoom-in" , data-aos-easing="linear")
          +img('../images/illutration1/credit-scoring.svg')(class="home-banner__right--credit-scoring")(data-aos-delay="300", data-aos="zoom-in" )
          +img('../images/illutration1/ekyc-profile.svg')(class="home-banner__right--ekyc-profile")(data-aos-delay="350", data-aos="zoom-out" , data-aos-easing="linear")
          +img('../images/illutration1/voice-ID.svg')(class="home-banner__right--voice-ID")(data-aos-delay="350", data-aos="zoom-in", data-aos-easing="linear")
          +img('../images/illutration1/cloud-1.svg')(class="home-banner__right--cloud-1")(data-aos-delay="500", data-aos="zoom-in", data-aos-easing="linear")
          +img('../images/illutration1/cloud-5.svg')(class="home-banner__right--cloud-5")(data-aos-delay="500", data-aos="zoom-in",  data-aos-easing="linear")
          +img('../images/illutration1/cloud-4.svg')(class="home-banner__right--cloud-4")(data-aos-delay="500", data-aos="zoom-in",  data-aos-easing="linear")
          +img('../images/illutration1/cloud-2.svg')(class="home-banner__right--cloud-2")(data-aos-delay="500", data-aos="zoom-in" , data-aos-easing="linear")
          +img('../images/illutration1/cloud-3.svg')(class="home-banner__right--cloud-3")(data-aos-delay="500", data-aos="zoom-in" , data-aos-easing="linear")

          +img('../images/banner-home.svg', 'banner')(loading="eager")