.container
  .row.justify-content-lg-between(class='eKYC-banner')
      .col-lg-4.col-md-6.col-sm-12.col-xs-12(class='eKYC-banner__left')
        h2.heading__primary eKYC - Định danh khách hàng điện tử
        p 
          | eKYC thực hiện định  
          b danh khách hàng bằng phương pháp điện tử 
          | không cần gặp mặt với sự hỗ trợ của các công nghệ tiên tiến như kiểm tra và đối chiếu thông tin cá nhân tức thì với cơ sở dữ liệu tập trung về danh tính người dùng.
        p Giải pháp số hóa trải nghiệm khách hàng, nâng cao tỉ lệ chuyển đổi, giảm thiểu rủi ro cho các doanh nghiệp
        button.btn Dùng thử miễn phí
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .eKYC-banner__right
          +img('../images/eKYC-banner.svg', 'banner')(loading="eager")