@font-face {
  font-family: Lato;
  src: url("../../fonts/Lato-Medium.ttf") format("ttf");
}

body {
  font-family: Lato;
  color: $color-blue-light;
}

.heading {
  text-decoration: none;
  &__primary {
    @include toRem(42px);
    line-height: 50px;
  }
  &__secondary {
    @include toRem(20px);
    line-height: 26px;
    font-weight: bold;
  }
  &--white {
    color: $color-white;
  }

  &--blue {
    color: $color-blue-dark-1;
  }
  &--bold {
    font-weight: bold;
  }
}

.text {
  &__large {
    @include toRem(18px);
  }
  &__medium {
    @include toRem(16px);
  }
  &__small {
    @include toRem(15px);
  }

  &--link {
    text-decoration: none;
    color: $color-primary;
    font-weight: bold;
  }
  &--white {
    color: $color-white;
  }

  &--bule {
    color: $color-blue-dark-1;
  }

  &--bold {
    font-weight: bold;
  }
}
