@font-face {
  font-family: Lato;
  src: url("../../fonts/Lato-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url("../../fonts/Lato-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Lato;
  src: url("../../fonts/Lato-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url("../../fonts/Lato-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Lato;
  src: url("../../fonts/Lato-Semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Lato;
  src: url("../../fonts/Lato-Bold.ttf");
  font-weight: 700;
}

* {
  font-family: Lato, "sans-serif";
}

body {
  color: $color-blue-light;
}

p,
span {
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -0.2px;
}

.heading {
  text-decoration: none;

  &__primary {
    @include toRem(42px);
    letter-spacing: -0.3px;
    line-height: 50px;
    @include maxWidth(991.98px) {
      @include toRem(30px);
      line-height: 36px;
    }
  }
  &__secondary {
    @include toRem(20px);
    line-height: 26px;
    font-weight: bold;
  }
  &--white {
    color: $color-white;
  }

  &--blue {
    color: $color-blue-light;
  }
  &--bold {
    font-weight: bold;
  }
}

.text {
  &__large {
    @include toRem(18px);
    @include maxWidth(991.98px) {
      @include toRem(16px);
    }
  }
  &__medium {
    @include toRem(16px);
  }
  &__small {
    @include toRem(15px);
  }

  &--link {
    text-decoration: none;
    color: $color-primary;
    font-weight: bold;
  }
  &--white {
    color: $color-white;
  }

  &--bule {
    color: $color-blue-dark-1;
  }

  &--bold {
    font-weight: bold;
  }
}
