.container
  .row.justify-content-lg-between(class='credit-scoring-banner')
      .col-lg-4.col-md-6.col-sm-12.col-xs-12(class='credit-scoring-banner__left')
        h2.heading__primary Credit Scoring - Chấm điểm tín dụng
        p  
          b Credit Scoring 
          | là thang điểm thể hiện mức độ uy tín tín dụng của khách hàng cá nhân.
        p 
          | Các ngân hàng và TCTD truyền thống thường dựa vào dữ liệu thể hiện trực tiếp khả năng tài chính của khách hàng trên các trung tâm thông tin tín dụng của CIC. APPVEST 
          b sử dụng nguồn dữ liệu thay thế 
          | mới kết hợp với dữ liệu CIC để đánh giá tín dụng của cả các khách hàng ngách.
        button.btn Dùng thử miễn phí
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .credit-scoring-banner__right
          +img('../images/credit-scoring-banner.svg', 'banner')(loading="eager")