.home-banner {
  margin-top: 110px;

  &__left {
    max-width: 594px;
    margin-top: 100px;
    > div {
      &:first-child {
        > img {
          margin-right: -5px;
        }

        > span {
          max-width: 594px;
        }
      }

      &:nth-child(2) {
        margin-top: 18px;
      }
    }

    &__btn {
      margin-top: 56px;
    }
    & .trending-up {
      margin-top: 218px;
      span {
        color: $color-white;
        font-weight: bold;
        font-size: 26px;
        line-height: 30px;
        margin-right: 9px;
      }
    }
  }

  &__right {
    width: 560px;
    height: 665px;
    position: relative;
    img {
      position: absolute;
    }
    &--mobile {
      top: 167px;

      z-index: 10;
    }
    &--user {
      left: 198px;
      top: 3px;
      z-index: $z-index9;
    }
    &--user-shadow {
      top: 230px;
      left: 159px;
      mix-blend-mode: multiply;
      z-index: $z-index8;
    }
    &--around-items {
      opacity: 0.23;
      top: 60px;
      left: 137px;
      z-index: $z-index8;
    }

    &--around {
      top: 60px;
      left: 137px;
      z-index: 1;
    }

    &--credit-scoring {
      top: 403px;
      left: 55px;
    }

    &--ekyc-profile {
      // mix-blend-mode: soft-light;
      top: 183px;
      right: -38px;
      z-index: $z-index8;
    }

    &--voice-ID {
      top: 35px;
      z-index: $z-index9;
    }
    &--cloud-1 {
      top: 180px;
    }
    &--cloud-5 {
      top: 433px;
      left: 200px;
      z-index: $z-index8;
    }
    &--cloud-4 {
      top: 138px;
      right: 17px;
    }
    &--cloud-2 {
      top: 155px;
      right: 283px;
      z-index: $z-index9;
    }
    &--cloud-3 {
      top: 88px;
      right: 198px;
      z-index: $z-index8;
    }
  }
}

.home-main {
  &__intro {
    > div {
      padding-top: 120px;
      padding-bottom: 112px;
      border-bottom: 1px solid #dddddd;
      span {
        max-width: 1260px;
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -0.2px;
      }
    }
  }

  &__solutions {
    padding-top: 120px;
    padding-bottom: 136px;
    &__left {
      &__text {
        max-width: 420px;
        > div {
          &:nth-child(3) {
            margin-top: 32px;
            line-height: 26px;
          }
          &:nth-child(4) {
            margin-top: 24px;
            line-height: 26px;
          }
        }
      }
    }

    &__article {
      width: 100%;
      margin-top: 72px;
      &__thumb {
        width: 100%;
        background-color: #f9f9fc;
        box-sizing: border-box;
        &--eKYC {
          height: 550px;
          padding: 53px 83px;
        }
        &--credit-scoring {
          height: 340px;
          padding: 34px 64px;
        }
        &--void-ID {
          height: 361px;
          padding: 25px 78px;
        }
      }

      a {
        text-decoration: none;
      }
      &__title {
        display: block;
        margin-top: 28px;
      }
      &__description {
        margin-top: 16px;
        max-width: 420px;
        line-height: 26px;
      }
      &__link {
        margin-top: 16px;
        a {
          text-decoration: none;
          margin-right: 8px;
        }

        img {
          transition: all 0.2s ease;
        }

        &:hover {
          img {
            transform: translateX(5px);
          }
        }
      }
    }

    &__btn {
      margin-top: 96px;
      @include flex(row, center, center);
    }
  }

  &__benefits {
    padding-top: 96px;
    padding-bottom: 128px;
    background-color: #f9f9fc;
    &__heading {
      text-align: center;
      & + div {
        text-align: center;
        margin-top: 32px;
        margin-bottom: 56px;
      }
    }
    &__wrapper-card {
      margin: -15px;
      > div {
        padding: 15px;
      }
    }

    &__card {
      width: 100%;
      height: 182px;
      @include flex(row, center, flex-start);
      padding: 30px;
      background-color: $color-white;
      border: 1px solid #dddddd;
      &__content {
        margin-left: 20px;
        > div {
          &:last-child {
            margin-top: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
