.home-banner {
  margin-top: 110px;

  &__left {
    max-width: 650px;
    margin-top: 100px;
    @include maxWidth(991.98px) {
      margin-top: 0px;
    }
    > p {
      margin-top: 18px;
    }

    &__btn {
      margin-top: 56px;
    }
    & .trending-up {
      margin-top: 218px;
      @include maxWidth(991.98px) {
        margin-top: 80px;
      }

      span {
        color: $color-white;
        font-weight: bold;
        font-size: 26px;
        line-height: 30px;
        margin-right: 9px;
      }
    }
  }

  &__right {
    width: 560px;
    height: 665px;
    position: relative;
    @include maxWidth(991.98px) {
      width: 100%;
      height: 550px;
    }
    img {
      position: absolute;
      &:last-child {
        display: none;
      }
      @include maxWidth(991.98px) {
        &:not(:last-child) {
          display: none;
        }
        &:last-child {
          display: block;
          width: 100%;
          @include maxWidth(575.98px) {
            margin-top: 50px;
          }
        }
      }
    }
    &--mobile {
      top: 167px;
      z-index: 10;
    }
    &--user {
      left: 198px;
      top: 3px;
      z-index: $z-index5;
    }
    &--user-shadow {
      top: 230px;
      left: 159px;
      mix-blend-mode: multiply;
      z-index: $z-index4;
    }
    &--around-items {
      opacity: 0.23;
      top: 60px;
      left: 137px;
      z-index: $z-index4;
    }

    &--around {
      top: 60px;
      left: 137px;
      z-index: 1;
    }

    &--credit-scoring {
      top: 403px;
      left: 55px;
    }

    &--ekyc-profile {
      // mix-blend-mode: soft-light;
      top: 178px;
      right: 12px;
      z-index: $z-index4;
    }

    &--voice-ID {
      top: 35px;
      z-index: $z-index5;
    }
    &--cloud-1 {
      top: 180px;
    }
    &--cloud-5 {
      top: 433px;
      left: 200px;
      z-index: $z-index4;
    }
    &--cloud-4 {
      top: 138px;
      right: 17px;
    }
    &--cloud-2 {
      top: 155px;
      right: 283px;
      z-index: $z-index5;
    }
    &--cloud-3 {
      top: 88px;
      right: 198px;
      z-index: $z-index4;
    }
  }
}

.home-main {
  & .intro {
    > div {
      padding-top: 120px;
      padding-bottom: 112px;
      border-bottom: 1px solid #dddddd;
      @include maxWidth(991.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
      }
      span {
        max-width: 1260px;
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -0.2px;
      }
    }
  }

  & .solutions {
    padding-top: 120px;
    padding-bottom: 136px;
    @include maxWidth(991.98px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    &__left {
      &__text {
        max-width: 420px;
        > p {
          &:nth-child(3) {
            margin-top: 32px;
          }
          &:nth-child(4) {
            margin-top: 24px;
          }
        }
      }
    }

    &__article {
      width: 100%;
      margin-top: 72px;
      &__thumb {
        width: 100%;
        height: auto;
        background-color: #f9f9fc;
        box-sizing: border-box;

        &--eKYC {
          padding: 53px 83px;
        }
        &--credit-scoring {
          padding: 34px 64px;
        }
        &--void-ID {
          padding: 25px 78px;
        }
      }

      a {
        text-decoration: none;
      }
      &__title {
        display: block;
        margin-top: 28px;
      }
      &__description {
        margin-top: 16px;
        max-width: 420px;
        line-height: 26px;
      }
      &__link {
        margin-top: 16px;
        a {
          text-decoration: none;
          margin-right: 8px;
        }

        img {
          transition: all 0.2s ease;
        }

        &:hover {
          img {
            transform: translateX(5px);
          }
        }
      }
    }

    &__btn {
      margin-top: 96px;
      @include flex(row, center, center);
    }
  }

  & .benefits {
    padding-top: 96px;
    padding-bottom: 128px;
    background-color: #f9f9fc;
    @include maxWidth(991.98px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    &__heading {
      text-align: center;
      & + p {
        text-align: center;
        margin-top: 32px;
        margin-bottom: 56px;
        @include maxWidth(991.98px) {
          margin-top: 16px;
          margin-bottom: 40px;
          @include toRem(15px);
        }
      }
    }
    &__wrapper-card {
      margin: -15px;
      @include maxWidth(991.98px) {
        margin: -7.5px;
      }
      > div {
        padding: 15px;
        @include maxWidth(991.98px) {
          padding: 7.5px;
        }
      }
    }

    &__card {
      width: 100%;
      height: 182px;
      @include flex(row, center, flex-start);
      padding: 30px;
      background-color: $color-white;
      border: 1px solid #dddddd;
      @include maxWidth(991.98px) {
        height: 220px;
      }
      &__content {
        margin-left: 20px;
        > p {
          &:last-child {
            margin-top: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }

  & .modem-technology {
    padding-top: 120px;
    padding-bottom: 60px;

    @include maxWidth(991.98px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &__right {
      > img {
        width: 100%;
        height: 100%;
      }
    }

    &__left {
      &__heading {
        max-width: 400px;
        & + p {
          max-width: 420px;
          margin-top: 32px;
          // @include toRem(16px);
        }
      }
      &__list-items {
        margin-top: 48px;
      }
      &__list-item {
        padding: 20px 0;
        border-bottom: 1px solid #dddddd;
        @include flex(row, null, center);
        > img {
          margin-right: 14px;
        }
      }
    }
  }
}
