extends ../layout/layout

block vars
  -title = 'Credit scoring | APPVEST'
  -heroBannerClass= 'banner banner--white'
  -pageTarget='credit-scoring.html'

block main
  .container  
    span Credit scoring