extends ../layout/layout

block vars
  -title = 'Credit scoring | APPVEST'
  -heroBannerClass= 'banner banner--white'
  -pageTarget='credit-scoring.html'

block banner
  include ../components/credit-scoring/hero-banner

block main
  main.credit-scoring-main 