extends ../layout/layout

block vars
  -title = 'eKYC | APPVEST'
  -heroBannerClass= 'banner banner--white'
  -pageTarget='eKYC.html'

block banner
  include ../components/eKYC/hero-banner

block main
  main.eKYC-main 