extends ../layout/layout

block vars
  -title = 'voice-ID | APPVEST'
  -heroBannerClass= 'banner banner--white'
  -pageTarget='voicd-ID.html'

block banner
  include ../components/voice-ID/hero-banner

block main
  main.voice-ID-main 