extends layout/layout

block vars
  -title = 'Trang chủ'
  -heroBannerClass= 'banner banner--blue'
  -pageTarget='/'


block banner
  include ./components/home/heroBanner

block main
  main.home-main 
    include ./components/home/intro-solutions
    include ./components/home/benifits
    include ./components/home/modem-technology
    include ./components/register