
extends layout/layout

block vars
  -title = 'Trang chủ'
  -heroBannerClass= 'banner banner--blue'
  -pageTarget='/'



block banner
  .container
    .row.no-gutters(class='home-banner')
      .col-md-6(class='home-banner__left')
        +img('../images/solution.svg', 'solution')
        span.heading__primary.heading--white  
         span Giải pháp công nghệ 
         span.heading--bold toàn diện, chính xác và chuyên sâu 
         span hỗ trợ dịch vụ tài chính cá nhân
        div.text__large.text--white APPVEST - Tiên phong trong lĩnh vực tài chính số hóa tại Việt Nam
        button.home-banner__left__btn.btn Dùng thử miễn phí
        .trending-up
          .text__small.text--white Số lượt tra cứu:
          span 34,729,176
          +img('../images/trending-up.svg', 'trending-up')
      .col-md-1
      .col-md-5(class='home-banner__right')
        +img('../images/banner-home.svg', 'banner')

block main
  .container
    span home