.container
  .row.justify-content-lg-between(class='about-banner')
      .col-lg-4.col-md-6.col-sm-12.col-xs-12(class='about-banner__left')
        h2.heading__primary Cung cấp giải pháp Fintech hàng đầu Việt Nam
        p  
          | Chúng tôi cam kết đem đến cho khách hàng, đối tác những sản phẩm dịch vụ tài chính  
          b hiện đại, nhanh chóng, 
          | chuẩn xác với  
          b chi phí cạnh tranh.  
        p Hướng đến tương lai tài chính toàn diện, bộ giải pháp chuyên sâu   APPVEST đã và đang đồng hành cùng các doanh nghiệp và các tổ chức tín dụng phục vụ hiệu quả hàng triệu khách hàng trong lĩnh vực tài chính cá nhân. 
        button.btn Dùng thử miễn phí
      .col-lg-7.col-md-6.col-sm-12.col-xs-12
        .about-banner__right
          +img('../images/about-banner.png', 'banner')(loading="eager")